{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mt-4 mb-3">
          Informações
          </h1>
        <ul>
          <li>
            <a href="{% url 'list' %}">List</a>
          </li>

          <li>
            <a href="{% url 'model_form_upload' %}">Carregamento</a>
          </li>
        </ul>

        <p>Uploaded files:</p>
        <ul>
          {% for obj in documents %}
          <li>
            <a href="{{ obj.image }}">{{ obj.image.name }} </a>
            <small>(Carregamentos de Hoje: {{ obj.uploaded_at }})</small>
          </li>
          {% endfor %}
        </ul>

    </div>
  </div>
</div>

{% endblock %}
